<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new post</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <h2> create a new post</h2>
    <form method="post" action="/posts" class="formy">
        <input class="inputy" placeholder="enter name" name="name"> <br>
        <textarea class="textholder" placeholder="enter the content" name="content"></textarea><br>
        <input class="inputy" placeholder="enter the date" name="date"><br>
        <button>create</button>
    </form>
</body>
</html>